<div class="center-block" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div *ngFor="let product of products; let i = index" [ngClass]="'product-' + i" class="col-md-4 col-xl-4">
    <div class="product">
      <td>
        <a [routerLink]="['/shop', product.id]">
          <img src="{{product.imageURL}}" alt="{{product.productName}}" class="img-responsive">
          <h4 class="list-group-item-heading">{{product.productName}}</h4>
          <p class="list-group-item-text">€ {{product.price}}</p>
        </a>
        <button class="add-to-cart-btn" (click)="addToCart(product)">Add to Cart</button>

      </td>
    </div>
  </div>
</div>
