.sidebar {
  background-color: #000;
  color: #fff;
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  position: fixed; /* Set the position to fixed */
  top: 200px; /* Adjust the top position as needed */
  left: 50px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px; /* Add this line to make the corners round */
}

.menu-item:hover {
  background-color: #333;
}

.menu-text {
  margin-left: 10px;
}
