<nav class="navbar navbar-default custom-navbar" [class.red-navbar]="isNavbarScrolled">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Hydration</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/shop">Shop</a></li>
        <li><a href="#">Admin panel</a></li>
        <li><a href="#">Collaborations</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login"><mat-icon>account_circle</mat-icon></a></li>
        <li *ngIf="isLoggedIn"><button (click)="logout()">Log Out</button></li>
        <li>
          <a routerLink="/cart">
            <mat-icon [matBadge]="cartItemCount !== 0 ? cartItemCount : null" matBadgeColor="warn">shopping_cart</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
