<div class="cart-item" *ngFor="let item of cartService.getItems()">
  <img src="{{item.imageURL}}">

  <div class="item-details">
    <h2>{{item.productName}}</h2>
    <p class="amount">Amount: {{item.quantaty}}</p>
    <p class="price">Price: €{{ item.price }} </p>
  </div>

  <div class="item-actions">
    <button (click)="cartService.increaseQuantity(item.id)">+</button>
    <button (click)="cartService.decreaseQuantity(item.id)">-</button>
    <button class="delete-button" (click)="deleteFromCart(item)">Delete</button>
  </div>
</div>
