.mat-card {
  display: flex;
  margin-top: 220px;
  margin-left: calc(50% - 420px); /* Adjusting left margin */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-align: center;
  padding-top: 35px;
  height: 300px;
  width: 800px;
  align-items: center; /* Assuming you want to vertically center the contents */
  justify-content: space-between;
}
.image-right {
  order: 3; /* Ensures the image is placed at the end */
  max-width: 100px; /* Adjust as needed */
  height: 300px; /* Maintain aspect ratio */
  margin-bottom: 40px; /* Adjust or remove this margin to control spacing */
  display: block;
  position: absolute;
  margin-left: 700px;
  align-items: flex-end;
}

.mat-card-image {
  display: flex;
  max-width: 240px;
  justify-content: center;
  height: 200px;
  padding-left: 20px;
  vertical-align: center;
  float: left;
  padding-bottom: 120px;

  img {
    display: flex;
    max-width: 200px;
    height: 250px;
    float: left;
    margin-right: 10px;
    justify-content: center;
  }
}

.mat-card-text {
  margin-top: -320px; // Adjust padding for better spacing inside the card
  margin-left:100px;
  margin-right: 90px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  h2 {
    margin-top: 0;
    margin-bottom: 10px; // Space between the title and the description
  }

  p {
    margin-bottom: 20px; // Space above the buttons
  }

  .button-container {
    position: absolute;

    justify-content: flex-end;
    float: right;
    left: 21%;
    top: 74%;
    transform: translate(-50%, -50%);
  }
  .update-button, .delete-button {
    margin-top: 200px;
    margin-left: 6px;
    padding: 4px 4px; // Padding inside the buttons
    border: none; // Remove default browser styling
    border-radius: 4px; // Rounded corners for the buttons
    cursor: pointer; // Cursor change to indicate clickable area
    background-color: black;
    color: white;

    &:hover {
      background-color: darkgray; // Darker shade on hover
    }
  }

  .delete-button {
    background-color: black; // Different color for the delete button

    &:hover {
      background-color: darkgray; // Darker shade on hover
    }
  }
}
.product-card {
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  margin-top: 390px;
  margin-left: 50px;
  transform: translate(-40%, -50%); /* Adjust translate values */
  max-width: 300px;  /* Maximum width of the card */
  width: 100%;  /* Responsive width */
  box-sizing: border-box;



  h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
  }

  p {
    color: #666; /* Paragraph text color */
    font-size: 1em;
  }
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 60%;
  max-width: 600px;
  background: white;
  padding: 15px; /* Reduced padding */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal.show {
  display: block; /* Show when this class is applied */
}

.modal-content {
  .modal-header {
    padding: 10px 10px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;

    h5 {
      margin: 0;
      font-size: 1.2em;
    }

    .close {
      border: none;
      background: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #333;

      &:hover {
        color: #ff0000; // Red color on hover for close button
      }
    }
  }

  .modal-body {
    padding: 10px; /* Reduced padding */

    .form-group {
      margin-bottom: 10px; /* Reduced margin */

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      input[type="text"], input[type="number"], select {
        width: 100%;
        padding: 5px 12px; /* Increased size */
        font-size: 1rem;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 4px;

        &:focus {
          border-color: #80bdff;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }

      input[type="text"][disabled] {
        background-color: #e9ecef; /* Light gray background */
        color: #6c757d; /* Darker text color */
        cursor: not-allowed;
      }
    }

    .btn-primary {
      width: 100%; /* Full width */
      padding: 5px 0; /* Increased padding */
      font-size: 1.1rem; /* Larger font size */
      border-radius: 4px; /* Rounded corners */
      color: white;
      background: black;
    }
  }
}
.add-to-cart-btn {
  background-color: black;
  color: white;
  width: 300px; /* Fixed width */
  padding: 10px 20px; /* Vertical and horizontal padding */
  border: none;
  margin-right: 100px;
  margin-left: -70px;
  margin-top: 500px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center; /* Ensure text is centered */
  display: flex; /* Allows setting a width */
  position: absolute;



  &:hover {
    background-color: #333; /* Slightly lighter black on hover */
    color: #ddd; /* Slightly darker white on hover */
  }

}

